body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
.main {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5,1fr);
    height: 100vh;
    width: 100vw;
}
.links {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.links * {
    text-align: right;
    margin-right: 20px;
}
.posts {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
    overflow-y: scroll;
}
.content {
    border: 1px solid #454545;
    font-family: sans-serif;
    line-height: 1.625;
    font-size: 1rem;
    margin: 0px 10px 10px 0px;
    padding: 5px 15px 5px 15px;
}
.stamp {
    color: #686868;
    font-size: 0.8rem;
}
.post img {
    object-fit: scale-down;
}
.user {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}
a {
    color: purple;
}
*::-webkit-scrollbar {
    display: none;
}
* {
scrollbar-width: none;
-ms-overflow-style: none;
}
.header {
    font-size: 2rem;
}

@media screen and (max-aspect-ratio: 1/1) {
  .main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
    width: 100vw;
    font-size: 1rem;
  }
  .links {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    border-bottom: 1px solid #454545;
    margin-top: 5px;
  }
  .posts {
    grid-row: 2 / span 5;
    grid-column: 1 / span 3;
    overflow-y: scroll;
    margin-left: 8px;
    margin-top: 6px;
  }
  .user {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: (4,1fr);
    grid-template-rows: (4,1fr);
    align-items: center;
    margin-top: 5px;
    border-bottom: 1px solid #454545;
  }
  .user .stamp {
    display: none;
  }
  .user img {
    max-width: 64px;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    justify-self: center;
  }
  .user #userid {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
  }
  .user #refertoas {
    grid-row: 2 / span 1;
    grid-column: 2 / span 3;
  }
  .user #description {
    grid-row: 3 / span 2;
    grid-column: 1 / span 4;
    margin-left: 15px;
  }
  .header {
    display: none;
  }
}